@font-face {
  font-family: "iconfont"; /* Project id 4544783 */
  src: url('//at.alicdn.com/t/c/font_4544783_0x9qco4nocqc.woff2?t=1715963157250') format('woff2'),
       url('//at.alicdn.com/t/c/font_4544783_0x9qco4nocqc.woff?t=1715963157250') format('woff'),
       url('//at.alicdn.com/t/c/font_4544783_0x9qco4nocqc.ttf?t=1715963157250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e83d";
}

.icon-right:before {
  content: "\e840";
}

.icon-weixin:before {
  content: "\e893";
}

.icon-shengyinjingyin:before {
  content: "\eca9";
}

.icon-shengyinkai:before {
  content: "\e61a";
}

.icon-juejin-logo:before {
  content: "\e603";
}

.icon-github:before {
  content: "\e66f";
}

.icon-icon_bofang:before {
  content: "\e61b";
}

.icon-douyin:before {
  content: "\e673";
}

.icon-zanting:before {
  content: "\e79d";
}

.icon-xiala:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-zhishiwenku:before {
  content: "\e613";
}

.icon-gengduo:before {
  content: "\e604";
}

.icon-youlian:before {
  content: "\e601";
}
