@media  screen and (min-width: 415px) and (max-width: 1440px) {
    .function{
        grid-template-columns:1fr 1fr;
        grid-column-gap:30px;
    }
    .functionContent{
        width:100%;
    }
    .CardImg{
        height:280px;
        width:100%;
    }
}
@media (max-width:414px){
    .function{
        grid-template-columns:1fr;
        grid-row-gap:10px;
    }
    .functionContent{
        width:100%;
    }
    .CardImg{
        height:200px;
        width:100%;
    }
}